*.info
*.bakert
*.asset
*.bin
*.dll
*.mdb
*.resource
MonkeyVR/UnitySurfaceStimulus/.vs/
MonkeyVR/UnitySurfaceStimulus/Library/
MonkeyVR/UnitySurfaceStimulus/Packages/
MonkeyVR/UnitySurfaceStimulus/ProjectSettings/
MonkeyVR/UnitySurfaceStimulus/Temp/
Data/Logs/
g_strctAppConfig.m_strctDirectories
Config/StimServerConfigForDifferentRigs/StimServerCache.mat
Config/KofikoConfigForDifferentRigs/RegisterGUICache.mat
